*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: #000000;
    padding: 50px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    
}

.logo {
    width: 100px;
    margin: auto;
}

.container{
    display: flex;
    padding: 10px;
  
}
.menu{
   font-size: 25px;
   color: white;
   margin: 25px auto;
 

}

body{
    background-color: rgba(240, 237, 237, 0.807);
}

main{
    background-color: rgba(53, 53, 53, 0.705);
    width: 1037px;
    align-items: center;
    margin: auto;
}


.slide{
    padding-top: 30px;
    width: 1000px;
    opacity: 95%;
}

.linha{
    border: none;
    border-top: 1px solid #0f9ea2; /* Cor da linha */
    margin: 0 auto;
    width: 50%; 
}

.grid-container {
    display: flex;
    width: 200px;
    margin-top: 10px;
}

.grid-item {
    flex: 0 0 auto; /* Permite que as imagens tenham seu tamanho natural */
    margin-right: 90px; /* Espaçamento entre as imagens */
;
  
}

.grid-item img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
    height: auto; /* Mantém a proporção original das imagens */
    border-radius: 7%;
    width: 340px;

}

.grid-item img {
    transition: transform 0.3s ease; /* Define a transição de transformação */
    width: 340px; /* Para garantir que a imagem se ajuste ao contêiner */
    height: auto; /* Para garantir que a imagem se ajuste ao contêiner */
}

.grid-item:hover img {
    transform: scale(1.2); /* Aumenta a escala da imagem em 20% */
}